<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <!-- <% console.log(files); %> -->
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="row">
        <div class="col-12">
            <header class="p-3" style="background-color: #f8f9fa;">
                <h1 class="text-left">Tag Explorer</h1>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-3 sidebar p-3">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <% tags.forEach(tag => { %>
                    <li class="nav-item dropdown dropend">
                        <a class="dropdown-item dropdown-toggle draggable" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" draggable="true" data-tag-name="<%= tag.tag_name %>" data-tag-id="<%= tag.tag_id%>">
                            <%= tag.tag_name || 'Untitled Tag' %>
                        </a>
                        <ul class="dropdown-menu">
                            <% if (tag.tag_values && tag.tag_values.length > 0) { %>
                                <% tag.tag_values.forEach(value => { %>
                                    <li><a class="dropdown-item draggable" href="#" draggable="true" data-tag-name="<%= tag.tag_name %>" data-subtag-id="<%=value.value_id%>"><%= value.tag_value %></a></li>
                                <% }); %>
                            <% } else { %>
                                <li><a href="#">No values</a></li>
                            <% } %>
                        </ul>
                    </li>
                <% }); %>
                </ul>
              </li>
        </div>

        <div class="col-9 p-3">
          <div class="top-box" style="display: flex; align-items: center;">
            <div class="filter-tags" id="dropzone">
              <div id ="tag-container" class="tag-container">
                  <span class="tag-badge">Tags</span>
                  
              </div>
            </div>
            <div class="icon-buttons" style="margin-left: 10px;">
              <a href = "#" onclick="clearTags()">
                <img src="/images/x_symbol.png" alt="X symbol" />
              </a>
              <a href="#">
                <img src="/images/plus_symbol.png" alt="Plus symbol" />
              </a>
              <a href="/manage-tags">
                <img src="/images/gear_symbol.png" alt="Gear symbol" />
              </a>
            </div>
          </div>
          <div class="file-list" id = "results">
            <div class="file-list-header row">
              <div class="col-4">File Name</div>
              <div class="col-3">Date Modified</div>
              <div class="col-3">Type</div>
              <div class="col-2">Size</div>
            </div>
            <div class="file-item row">
              <div class="col-4">File1.pdf</div>
              <div class="col-3">10/2/2024</div>
              <div class="col-3">PDF File</div>
              <div class="col-2">45 KB</div>
            </div>
            <div class="file-item row active">
              <div class="col-4">File2.txt</div>
              <div class="col-3">10/1/2024</div>
              <div class="col-3">Text Document</div>
              <div class="col-2">2 KB</div>
            </div>
            <div class="file-item row">
              <div class="col-4">File3.xlsx</div>
              <div class="col-3">9/29/2024</div>
              <div class="col-3">Microsoft Excel Workbook</div>
              <div class="col-2">10 KB</div>
            </div>
            <div class="file-item row">
              <div class="col-4">File4.exe</div>
              <div class="col-3">8/12/2024</div>
              <div class="col-3">Application</div>
              <div class="col-2">691 KB</div>
            </div>
            <% files.forEach(file => { %>
              <div class="file-item row">
                  <div class="col-4"><%= file.file_path.split('/').pop() %></div> <!-- Extracts the file name -->
                  <div class="col-3"> <!-- Date Modified (You might want to add this field in your DB) --></div>
                  <div class="col-3"><%= getFileType(file.file_path) %></div> <!-- Displays the file type -->
                  <div class="col-2"> 0 KB</div>
              </div>
            <% }); %>
            
          </div>
        </div>
    </div>
  </div>

  <!-- Context Menu -->
  <div id="contextMenu" class="menu">
    <p id="manageTags">Manage Tags</p>
    <!-- <p>More Like This</p>
    <p>Add Tag</p> -->
  </div>

      <!-- Modal window -->
    <div id="manageTagsModal" class="modal">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <!-- <h2 style="flex-grow: 1;">Manage Tags for file_name</h2> -->
                 <!-- Close (X) button -->
                <span class="close" style="cursor: pointer;" title="Close the window - changes won't be saved">
                    &times;
                </span>
            </div>

            <br>

            <!-- Search field and buttons (part of the header) -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <form class="d-flex flex-grow-1 me-2" role="search">
                    <input class="form-control me-2 p-2" type="search" id="searchInput" placeholder="Search tags or values" aria-label="Search" oninput="filterTags()">
                </form>
                <div class="d-flex">
                    <!-- Tag Edit button -->
                    <button class="btn btn-outline-primary rounded-circle" id="addTagBtn" title="Go to Tag Edit to create new tags">
                        <a href="/tag-editor">
                            <i class="bi bi-plus fs-5"></i>
                        </a>
                    </button>
                </div>
            </div>

        <!-- <strong style="text-align: center;">
          Applied Tags
        </strong> -->
        <!-- this area will show all the tags attached to that file for now I only have default tags  -->
        <div class="filter-tags" id="dropzone" title="These are the tags and values already applied to the file">
            <div id="tag-container" class="tag-container" style="display: inline-flex;">
                <span class="tag-badge">
                    tags  
                    <i class="fas fa-thumbtack pin-icon"></i>  <!-- Pin icon -->
                </span>
                <!-- Add more tags here to test scrolling -->
            </div>
        </div>
      
            <!-- <strong>
              <div style="text-align: center;">
                  All Tags
              </div>
            </strong>   -->
            <div style="max-height: 30vh; overflow-y: auto;">
            <% tags.forEach(tag => { %>
                <button class="dropdown-btn" >
                  <span><%= tag.tag_name || 'Untitled Tag' %></span>
                  <span>&#9662;</span>  <!--   Down arrow symbol -->
                </button>
                <div class="dropdown-content">
                  <% if (tag.tag_values && tag.tag_values.length > 0) { %>
                      <% tag.tag_values.forEach(value => { %>
                          <a href="#subitem1"><%= value.tag_value %></a>
                      <% }); %>
                  <% } else { %>
                      <a href="#subitem2">No values</a>
                  <% } %>
              </div>
              <% }); %>
            </div>
            <br>
 
            <button id="saveChangesBtn" class="btn btn-success" title="Save changes you have made">
                Save Changes
            </button>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
  <script src="/js/tagExplorerScript.js"> 
  </script>

</body>
</html>
